<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
	<title>about bby</title>
</head>
<body>
	<div class="home-text">
	<h1>✧･ﾟ: *✧･ﾟ:* about the heiress *:･ﾟ✧*:･ﾟ✧</h1>
	</div>
	<p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
	<div class="home-pic">
    <img src="/images/y2k.gif" alt="">
	</div>
	
	<div class="links">
	<br>
	<a href="/work">check out her work</a>
	<br>
    <a href="/">find your way back home xx</a>
	</div>
</body>
</html>