<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>h3110!</title>
</head>

<body>
    <div class="home-text">
        <h1>♬♩♪♩ Welcome To Paris Hilton's Myspace ♩♪♩♬</h1>
    </div>
    <div class="home-pics">
        <img src="/images/y2k-silver.gif" alt=""> 
        <img src="/images/parishilton.gif" alt=""> 
        <img src="/images/y2k-silver.gif" alt=""> 
    </div>
   
    <div class="links">
    <br>
    <a href="/about">Go to the about page</a>
    <br>
    <a href="/">find your way back home xx</a>
    </div>
    <script src="/javascript/script.js"></script>
</body>

</html>