<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Document</title>
</head>
<body>
    <div class="home-text">
    <h1>*+:｡.｡ get into her work bb ｡.｡:+* </h1>
    </div>

    <div class="home-pic">
    <img src="/images/playboy.gif" alt="">
    <img src="/images/razr.gif" alt="">
    <img src="/images/playboy.gif" alt="">
    </div>

    <div class="links">
    <br>
    <a href="/about">click here to go to the about page</a>
    <br>
    <a href="/">find your way back home xx</a>
    </div>
    <script src="/javascript/script.js"></script>
</body>
</html>